<div class="container">
	<br>
	<div class="clearfix">
		<h2 id="hello-title" class="pull-left">My Info:</h2>
		<form class="form " role="form" method="post" action="/login">
			<div class="form-group">
			<button type="submit" class="btn btn-warning pull-right"><b>Edit</b></button>
			</div>
		</form>
	</div>
	<div id="user-show-info" class="well">
		<h4>Frist Name: <b>Nazim</b></h4>
		<h4>Last Name: <b>Bellahsene</b></h4>
		<h4>Phone: <b>415 425 1131</b></h4>
		<h4>Location: <b>Mountain view, CA</b></h4>
	</div>
	<br>
	<div class="clearfix">
		<h2 id="hello-title" class="pull-left">My Products:</h2>
		<form class="form " role="form" method="post" action="/login">
			<div class="form-group">
			<button type="submit" class="btn btn-success pull-right"><b>Add a New Product</b></button>
			</div>
		</form>
	</div>
	<div id="user-show-product" class="well clearfix">
		<div class="pull-left">
			<h4>Name: <b>Umbrella</b></h4>
			<h4>Price: <b>$5/day</b></h4>
			<h4>Category: <b>Utilities</b></h4>
			<h4>Description: <b>Big black umbrella</b></h4>
		</div>
		<img class="pull-right" src="http://www.briscoes.co.nz/productimages/magnify/1/17124_38357_28701.jpg">
	</div>
</div>