#categories_bar {
	width: 100%;
	border-top: 2px solid #beeaf0;
	border-bottom: 1px solid #beeaf0;
	background-color: #216eb4;
}

#categories_bar ul {

}

#categories_bar li {
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	color: white;
}

#categories_bar li a {
	color: white;
}

#adds {
	background-color: #FFCF74;
	padding: 30px;
	color:white;
}

#adds_img {
	display: inline-block;
	margin-left: 100px;
	margin-right: 50px;
}

#adds_text{
	display: inline-block;
	width: 300px;
	vertical-align: top;
	margin-top: 50px;
	margin-left: 100px;
}

#rec {


}

#lol{
	padding-left: 100px;
}
#recommended {
	display: inline-block;
	margin: 40px;
}

#latest_wrapper {
	padding-left: 130px;
	padding-right: 100px;
}

#latest_items {
	display: inline-block;
	margin: 60px;
}

#footer {
	background-color: #216eb4;
	height: 400px;
}

#footer_columns {
	display: inline-block;
	vertical-align: top;
	margin: 40px;
	margin-left: 100px;
	color: white;
}

ul {
	color: white;
}
.list {
	list-style-type: none;
	text-decoration: none;
}

.list a {
	color: white;
}