/*html{
	background: url('/assets/for-rent.jpg') no-repeat center center fixed;
	background-size: cover;
}*/



/*#boo{
	height: 780px;
	background: url('/assets/for-rent.jpg') no-repeat;
	background-size: 100%;
}*/

